<h2>All Students</h2>

<ul>
  <% @students.each do |student| %>
    <li id='<%= student.id %>'>
      <%= link_to "#{student.name}", student_path(student) %>
      <%= button_to 'Delete', { controller: :students, action: :destroy, id: student.id }, method: :delete %>
    </li>
  <% end %>
</ul>
